

.custom-nav{
    font-weight: 600 !important;
    color: rgb(231, 231, 231) !important;
    text-decoration: none !important;
}

.custom-nav-drop{
    font-weight: 600 !important;
    color: rgb(54, 54, 54) !important;
    text-decoration: none !important;
}

 .custom-nav-drop.active{
    background-color: burlywood !important;
    color: brown !important;
}

.mr-2{
    margin-right: .4rem !important;
}

.ml-2{
    margin-left: .5rem !important;
}

.nav-logo{
    width:95%;
    max-width: 100px;
}

 
 